{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article class="post-preview">
        <a href="{{ .Params.link }}">
          <h2 class="post-title">{{ .Title }}</h2>

          {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
              {{ .Params.subtitle }}
            </h3>
          {{ end }}
        </a>

        <p class="post-meta">
          {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
        </p>
        <div class="post-entry">
          {{ if .Truncated }}
            {{ .Summary }}
            <a href="{{ .Params.link }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-meta">
            {{ range .Params.tags }}
              #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
